﻿<link rel="import" href="/sys/polymer/polymer.html">

<template>
    <template is="dom-bind">
        <h1>Hey, {{model.FullName}}!</h1>
        <fieldset>
            <label>First name:</label>
            <input value="{{model.FirstName$::input}}">
        </fieldset>
        <fieldset>
            <label>Last name:</label>
            <input value="{{model.LastName$::input}}">
        </fieldset>
        <button value="{{model.SaveTrigger$::click}}" onmousedown="++this.value">Save</button>
        <hr>
        <template is="dom-repeat" items="{{model.Expenses}}">
            <starcounter-include partial="{{item}}"></starcounter-include>
        </template>
        <hr>
        <h2>Current balance: {{model.CurrentBalance}}</h2>
        <button value="{{model.NewExpenseTrigger$::click}}" onmousedown="++this.value">Add new expense</button>
        <button value="{{model.DeleteAllTrigger$::click}}" onmousedown="++this.value">Delete all expenses</button>
        <button value="{{model.CancelTrigger$::click}}" onmousedown="++this.value">Cancel</button>
    </template>
</template>